#pagecontainer {
	box-sizing: border-box;
	margin: 0 auto;
}

#header {
	/*height: 120px;*/
	background: #D11010;
	position: relative;
}

#title {
	text-align: right;
	font-family: 'Luckiest Guy', cursive;
	font-size: 50px;
	color: white;
	text-transform: uppercase;
	padding-right: 30px;
}

#menu {
	font-family: Acme;
	text-transform: uppercase;
	font-size: 15px;
}

#menu:hover {
	cursor: pointer;
}

#content {
	height: 700px;
	background-image: url("../resources/heart_health.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	margin: 0 auto;
}

#form {
	width: 100%;
	height: 700px;
	padding: 10px;
	font-family: 'Acme', sans-serif;
	font-size: 15px;
	background-color: rgba(255, 255, 255, 0.6);
}

#textfield {
	width: 100%;
	padding: 2px;
	font-family: 'Acme', sans-serif;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#selectbutton {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.button {
	height: 50px;
	width: 100px;
	margin-top: 33px;
	margin-left: 8px;
	font-family: 'Acme', sans-serif;
	text-transform: uppercase;
	background-color: #D11010;
	color: white;
}

#error {
	font-family: verdana, Helvetica;
	color: red;
	margin-left: 324px;
	margin-top: 45px;
	position: absolute;
}

@media only screen and (max-width: 500px) {
	#title {
		font-size: 13px;
	}
}