input {
	outline: none;
	border: none;
}

textarea {
	outline: none;
	border: none;
}

label {
	display: block;
	margin: 0;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.container-contact100 {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: #f2f2f2;
}

.wrap-contact100 {
	width: 100%;
	background: #fff;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	flex-direction: row-reverse;
}

.contact100-more {
	width: calc(100% - 560px);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
	padding: 30px 15px 0px 15px;
}

.alert {
	color: #ffffff;
	border-radius: 0;
	border: 0;
	line-height: 1.5;
	margin-bottom: 1.875rem;
	padding: 1.25rem;
	position: relative;
}

.alert-success {
	background-color: #70c770;
}

.AboutUs_description {
	background: white;
	text-align: center;
	font-size: 16px;
	font-family: Verdana, Geneva, sans-serif;
}

.AboutUs_blurb {
	max-width: 700px;
	margin: 0 auto;
}

.AboutUs_links {
	line-height: 2;
	color: #3ec9cb;
}

.contact100-form {
	width: 560px;
	min-height: 100vh;
	display: block;
	padding: 80px 55px 55px 55px;
}

.contact100-form-title {
	width: 100%;
	display: block;
	font-family: Poppins-Regular;
	font-size: 30px;
	color: #333333;
	line-height: 1.2;
	text-align: center;
	padding-bottom: 48px;
}

.wrap-input100 {
	width: 100%;
	position: relative;
	border: 1px solid #e6e6e6;
	border-radius: 10px;
	margin-bottom: 20px;
}

.label-input100 {
	font-family: Montserrat-SemiBold;
	font-size: 11px;
	color: #666666;
	line-height: 1.2;
	text-transform: uppercase;
	padding: 15px 0 2px 24px;
}

.input100 {
	display: block;
	width: 100%;
	background: transparent;
	font-family: Montserrat-Regular;
	font-size: 18px;
	color: #404b46;
	line-height: 1.2;
	padding: 0 26px;
}

input.input100 {
	height: 48px;
}

textarea.input100 {
	min-height: 130px;
	padding-top: 14px;
	padding-bottom: 15px;
}

.container-contact100-form-btn {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 10px;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.contact100-form-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 100%;
	height: 50px;
	border-radius: 10px;
	background: #6675df;
	font-family: Montserrat-Bold;
	font-size: 12px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.contact100-form-btn:hover {
	background: #404b46;
}

@media only screen and (max-width: 500px) {
	#title {
		font-size: 13px;
	}
}

.validate-input {
	position: relative;
}

.alert-validate::before {
	content: attr(data-validate);
	position: absolute;
	max-width: 70%;
	background-color: #fff;
	border: 1px solid #c80000;
	border-radius: 2px;
	padding: 4px 25px 4px 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 2px;
	pointer-events: none;
	font-family: Poppins-Regular;
	color: #c80000;
	font-size: 13px;
	line-height: 1.4;
	text-align: left;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.alert-validate::after {
	content: "\f12a";
	font-family: FontAwesome;
	display: block;
	position: absolute;
	color: #c80000;
	font-size: 16px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 8px;
}

.alert-validate:hover:before {
	visibility: visible;
	opacity: 1;
}

#success {
	width: 270px;
	height: 60px;
	position: absolute;
	margin-left: -143px;
	margin-top: 5px;
	background-color: green;
	font-family: Impact;
	color: white;
	padding: 20px;
	padding-left: 50px;
	display: none;
}