* {
	box-sizing: border-box;
}

#pagecontainer {
	width: 1200px;
	margin: 0 auto;
}

#header {
	position: relative;
	height: 120px;
	background: #D11010;
}

#title {
	position: absolute;
	font-size: 50px;
	right: 0;
	font-family: 'Luckiest Guy', cursive;
	color: white;
	text-transform: uppercase;
	right: 50px;
	top: 20px;
}

#menu {
	font-family: Acme;
	text-transform: uppercase;
	font-size: 15px;
}

#menu:hover {
	cursor: pointer;
}

#resultbox {
	height: 500px;
}

#result {
	height: 400px;
	color: white;
	font-size: 35px;
	padding-left: 50px;
	font-family: 'Acme', sans-serif;
}

#resulttext {
	height: 100px;
	font-family: 'Acme', sans-serif;
}

#graphbox {
	height: 500px;
}

#graph {
	height: 400px;
}

#graphtext {
	height: 100px;
	font-family: 'Acme', sans-serif;
}